---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import headshot from '../assets/Nick_minified.jpg';
import letsbuilditHomepage from "../assets/letsbuildit_homepage.png";
import linkcardsHomepage from "../assets/linkcards_homepage.png";
import shufflifyHomepage from "../assets/shufflify_homepage.png";
const pageTitle = 'Nicholas Boyce-Software Engineer';
---
<style>
	.hero {
		display: grid;
		padding-block: var(--gap-300);
	}

	.hero-heading {
		font-size: var(--fs-900);
		grid-row: 1/2;
		text-align: center;
	}

	.main-headshot {
		border-radius: 0.5rem;
		grid-row: 2/3;
		margin-block: var(--gap-500);
	}

	.hero p:not(:last-child) {
		margin-block-end: var(--gap-300);
	}

	.value-word-pink {
		text-shadow: 0.25rem 0.25rem 0.25rem var(--clr-accent-pink);
	}

	html.dark .value-word-pink {
		text-shadow: none;
		color: var(--clr-accent-pink);
	}

	.value-word-orange {
		text-shadow: 0.25rem 0.25rem 0.25rem var(--clr-accent-orange);
	}

	html.dark .value-word-orange {
		text-shadow: none;
		color: var(--clr-accent-orange);
	}

	.value-word-yellow {
		text-shadow: 0.25rem 0.25rem 0.25rem var(--clr-accent-yellow);
	}

	html.dark .value-word-yellow {
		text-shadow: none;
		color: var(--clr-accent-yellow);
	}

	.value-word-blue {
		text-shadow: 0.25rem 0.25rem 0.25rem var(--clr-accent-blue);
	}

	html.dark .value-word-blue {
		text-shadow: none;
		color: var(--clr-accent-blue);
	}

	.value-word-green {
		text-shadow: 0.25rem 0.25rem 0.25rem var(--clr-accent-green);
	}

	html.dark .value-word-green {
		text-shadow: none;
		color: var(--clr-accent-green);
	}

	.value-word-purple {
		text-shadow: 0.25rem 0.25rem 0.25rem var(--clr-accent-purple);
	}

	html.dark .value-word-purple {
		text-shadow: none;
		color: var(--clr-accent-purple);
	}

	.value-word-indigo {
		text-shadow: 0.25rem 0.25rem 0.25rem var(--clr-accent-indigo);
	}

	html.dark .value-word-indigo {
		text-shadow: none;
		color: var(--clr-accent-indigo);
	}

	article {
		display: grid;
		row-gap: var(--gap-300);
	}

	h1[id$="-heading"]:not(.hero-heading) {
		font-size: var(--fs-800);
	}

	article > h2 {
		font-size: var(--fs-700);
	}

	figcaption {
		margin-block-start: var(--gap-200);
		font-family: 'merriweather_sansitalic'; /* TBU */
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
		gap: var(--gap-200) var(--gap-300);
	}

	.tag {
		background-color: var(--clr-neutral-400);
		padding: var(--gap-200);
		border-radius: 0.25rem;
		color: var(--main-tag-text-color);
	}

	ul.section-body {
		display: grid;
		row-gap: var(--gap-800);
	}

	.projects-heading {
		margin-block-end: var(--gap-700);
		/* background-color: var(--main-background-color);
		outline: 1px solid var(--main-background-color);
		position: sticky;
		top: 78px; */
	}

	.description-wrapper {
		display: grid;
		grid-template-rows: auto 0fr;
	}

	.description-wrapper.active {
		grid-template-rows: auto 1fr;
	}

	.project-description {
		overflow: hidden;
	}

	.description-toggle {
		width: fit-content;
	}

	.description-toggle::after {
		content:  " \25BC";
	}

	.active .description-toggle::after {
		content:  " \25B2";
	}

	.about {
		margin-block-start: var(--gap-500);
	}

	.about .section-body {
		margin-block: var(--gap-400);
	}

	@media screen and (min-width: 830px) {
		.hero {
			grid-template-areas: none;
			grid-template-columns: [picture-start] auto [picture-end text-start] auto [text-end];
			grid-template-rows: [content-start] 1fr repeat(4, auto) 1fr [content-end];
			/* row-gap: 0; */
			column-gap: var(--gap-600);
			/* min-height: 100svh; */
			padding-block: 0;
			min-height: calc(100svh - 54px);
		}

		.hero p {
			grid-column: text;
			font-size: var(--fs-600);
			margin-block-start: var(--gap-400);
		}

		.hero p:nth-child(n + 2) {
			grid-row: 3/4;
		}

		.hero p:nth-child(n + 3) {
			grid-row: 4/5;
		}

		.hero p:nth-child(n + 4) {
			grid-row: 5/6;
		}

		.hero-heading {
			grid-column: text;
			grid-row: 2/3;
			align-self: self-end;
			text-align: justify;
		}

		.main-headshot {
			grid-row: content;
			align-self: center;
		}
	}
</style>
<BaseLayout pageTitle={pageTitle}>
	<section id="hero" aria-labelledby="hero-heading" class="hero">
		<h1 id="hero-heading" class="hero-heading">Hi! I'm Nick.</h1>
			<p>I’m a <span class="value-word-pink">curious</span>, <span class="value-word-purple">driven</span>, and <span class="value-word-orange">inquisitive</span> software engineer.</p>
			<p>I value <span class="value-word-blue">empathy</span> and <span class="value-word-green">connection</span>, and thrive in teams that prioritize a <span class="value-word-indigo">growth mindset</span>.</p>
			<p>I love making a <span class="value-word-yellow">positive impact</span> and being surrounded by those who care - and that’s probably you!</p>
		<Image
			class="main-headshot"
			src={headshot}
			alt="Headshot of Nick in a white and light pink striped dress shirt." />
	</section>
	<section id="projects" aria-labelledby="projects-heading" class="projects">
		<h1 id="projects-heading" class="projects-heading">Projects I've Done</h1>
		<ul class="section-body">
			<li class="project">
				<article>
					<h2>Let's Build It! [WIP]</h2>
					<figure>
						<Image src={letsbuilditHomepage} alt="Let's Build It Homepage screenshot." />
						<figcaption>A social project sharing app for finding project collaborators and inspiration.</figcaption>
					</figure>
					<div class="description-wrapper">
						<button class="description-toggle" aria-live="polite">Show full description</button>
						<p class="project-description" aria-live="polite">
							As a software engineer who has largely learned about web development on his own, I often wished that I could more easily find people to work with.
							I wanted to nurture my growth mindset, but what on Earth was I supposed to build? I knew I wanted to build, but I needed direction. And learning about the possibilities on my own seemed like a gargantuan task.
							Luckily for me, I was able to find the Recurse Center, full of wonderful people with equally amazing ideas. But what about those who weren't so lucky?
							<br/>
							Enter: Let's Build It. My goal is for this project to connect developers who need a team, or even just some inspiration. The main feature I'm working on now is an accessible search feature.
							I've already implemented authentication and defined the user schemas.
						</p>
					</div>
					<ul class="tags" aria-label="Technology used">
						<li class="tag">React.js</li>
						<li class="tag">TypeScript</li>
						<li class="tag">Node.js</li>
						<li class="tag">Express</li>
						<li class="tag">PostgreSQL</li>
						<li class="tag">Kysely</li>
					</ul>
				</article>
			</li>
			<li class="project">
				<article>
					<h2>LinkCards</h2>
					<figure>
						<Image src={linkcardsHomepage} alt="LinkCards Homepage screenshot." />
						<figcaption>A social project sharing app for finding project collaborators and inspiration.</figcaption>
					</figure>
					<div class="description-wrapper">
						<button class="description-toggle" aria-live="polite">Show full description</button>
						<p class="project-description" aria-live="polite">
							The thing about learning full stack development on your own is that you're often in charge of a lot of aspects that you'd otherwise not see as a software engineer.
							This includes creating pleasing designs. Once I realized I really wanted to hone in on the actual implementation, I practiced a lot on <a href="https://www.frontendmentor.io/profile/nicholasboyce" target="_blank">Frontend Mentor</a> to simulate
							what it would feel like to implement design files from the UI/UX team!
							<br />
							This project's design was inspired by one of the exercises there, and I extended it to create a functioning full stack application with user accounts and individual user pages.
						</p>
					</div>
					<ul class="tags" aria-label="Technology used">
						<li class="tag">React.js</li>
						<li class="tag">Node.js</li>
						<li class="tag">Express</li>
						<li class="tag">Mongoose</li>
						<li class="tag">MongoDB</li>
					</ul>
				</article>
			</li>
			<li class="project">
				<article>
					<h2>Shufflify</h2>
					<figure>
						<Image src={shufflifyHomepage} alt="Shufflify Homepage screenshot." />
						<figcaption>A social project sharing app for finding project collaborators and inspiration.</figcaption>
					</figure>
					<div class="description-wrapper">
						<button class="description-toggle" aria-live="polite">Show full description</button>
						<p class="project-description" aria-live="polite">
							Shufflify was my attempt at understanding JavaScript and DOM manipulation on a deeper level. I hadn't started learning React fully yet, and I wanted to make sure I really understood what it was doing for me
							before simply using it for the sake of having it as a tool. I really learned a lot about how SPAs manage state (and how easy frameworks like React make it!), and I learned a good bit about the OAuth process
							and interacting with APIs as well. Shufflify was recently approved by the Spotify Developer Team themselves, so please feel free to try it out! As the homepage says,
							just pick your playlists, shuffle them into a brand new one, and enjoy!
						</p>
					</div>
					<ul class="tags" aria-label="Technology used">
						<li class="tag">HTML</li>
						<li class="tag">CSS</li>
						<li class="tag">JavaScript</li>
						<li class="tag">Spotify API</li>
					</ul>
				</article>
			</li>
			<li class="project">
				<article>
					<h2>Grenada Land Registry</h2>
					<figure>
						<Image src={letsbuilditHomepage} alt="Let's Build It Homepage screenshot." />
						<figcaption>A social project sharing app for finding project collaborators and inspiration.</figcaption>
					</figure>
					<div class="description-wrapper">
						<button class="description-toggle" aria-live="polite">Show full description</button>
						<p class="project-description" aria-live="polite">
							As my first "serious" attempt at making something on my own, I'm very fond of this website. After losing a close family member and deciding to face my fears and become a software engineer,
							I wanted to try and make something meaningful. What was on my mind was my parents' home country (as well as that of my late relative) Grenada. As beautiful as the island is, the design for their <a href="https://web.archive.org/web/20240302042518/https://elandregistry.gov.gd/" target="_blank">official land registry lookup page</a>
							left a lot to be desired. I realized this was the perfect chance to practice my new responsive design skills. After completing the frontend, I actually went back and attached a backend to it serve up mock land registry records.
							I'd really love to improve upon the design and implementation even more in the future (and maybe submit that to the Grenadian government)!
						</p>
					</div>
					<ul class="tags" aria-label="Technology used">
						<li class="tag">HTML</li>
						<li class="tag">CSS</li>
						<li class="tag">JavaScript</li>
						<li class="tag">Java</li>
						<li class="tag">Spring Boot</li>
						<li class="tag">H2 SQL</li>
					</ul>
				</article>
			</li>
		</ul>
	</section>
	<section id="about" aria-labelledby="about-heading" class="about">
		<h1 id="about-heading">My Story</h1>
		<p class="section-body">
			I'm a first-gen college student (and first-gen immigrant) who graduated from Bowdoin College in 2022 with a Bachelor of Arts in Economics. I spent the first year out of college working in investment banking across insurance, healthcare, and fintech companies. After a yearlong sabbatical to attend to my physical and mental health, I've been diving into software engineering to develop my problem solving skills and nourish my creativity. I'm also a never-alum of the <a href="https://www.recurse.com" target="_blank">Recurse Center</a>!
		</p>
	</section>
</BaseLayout>
<script>
	const toggleButtons = document.querySelectorAll('.description-toggle');
	toggleButtons.forEach((button) => {
		const wrapper = button.parentElement;
		button.addEventListener('click', () => {
			if (button.textContent === 'Show full description') {
				button.textContent = 'Hide description';
			} else {
				button.textContent = 'Show full description';
			}
			wrapper?.classList.toggle("active");
		});
	});
</script>